/* BASE */
/* ======================================================== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --width-container: 80%;

    --color-primary: #051528;
    --color-tertiary: #ffd024;
    --color-description: #666;
    --color-bg-grey: #eee;
    --color-bg-dark: #002146;
    --color-white: #fff;

    --wh-icon-logo: 40px;
    --font-size-logo-text: 30px;

    --font-size-features: 18px;
    --padding-features__item: 15px;

    --gap-news: 30px;
}

body {
    font-family: 'Inter', sans-serif;
}

.container {
    width: var(--width-container);
    margin: auto;
}

.container-full {
    width: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.btn,
.btn:link,
.btn:visited {
    text-decoration: none;
    display: inline-block;
    color: var(--color-primary);
    background-color: var(--color-tertiary);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

/* TYPOGRAPHY */
/* ======================================================== */
.heading__primary {
    font-size: 30px;
    font-weight: 700;
    line-height: 25px;
    color: var(--color-primary);
}

.heading__secondary {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}

.heading__tertiary {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.description {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: var(--color-description);
}


/* HEADER */
/* ======================================================== */
/* header------- */
.header {
    padding: 18px;
    /* background-color: antiquewhite; */
}

/* logo------- */
.header__logo {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 700;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    /* background-color: rgb(148, 110, 61); */
}

.header__logo-icon {
    position: absolute;
    font-size: 16px;
    color: var(--color-tertiary);
    width: var(--wh-icon-logo);
    height: var(--wh-icon-logo);
    display: inline-block;
}

.header__logo-icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header__logo-icon::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--color-primary);
    z-index: 0;
    top: 0;
    left: 0;
}

.header__logo-text {
    font-size: var(--font-size-logo-text);
    margin-left: calc(var(--wh-icon-logo) + 5px);
    line-height: var(--wh-icon-logo);
}

/* nav------- */
.header__nav {
    margin-left: 20px;
}

.header__nav-item {
    display: inline-block;
}

.header__nav-item:not(:last-child) {
    margin-right: 30px;
}

.header__nav-item a {
    text-decoration: none;
    color: var(--color-primary);
}

/* HERO */
/* ======================================================== */
.hero {
    height: 700px;
    overflow: hidden;
}

/* img------- */
.hero_img {
    width: 100%;
}

/* WELCOME */
/* ======================================================== */
.welcome {
    padding: 80px 0;
}

.welcome__text,
.welcome__img {
    float: left;
    width: 50%;
}

.welcome__text p {
    margin: 30px 0;
    padding-right: 40px;
}

.welcome__img img {
    width: 100%;
}

/* INDEX */
/* ======================================================== */
.index-section {
    background-color: var(--color-bg-grey);
}

.index {
    padding: 50px 0;
}

.index__item {
    float: left;
    width: 25%;
}

.index__item-num {
    font-size: 60px;
    font-weight: 700;
    color: var(--color-primary);
}

.index__item-text {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 500;
    display: inline-block;
    width: 140px;
    line-height: 30px;
}

/* FEATURES */
/* ======================================================== */
.features {
    padding: 50px 0;
    
    margin: 0 calc(var(--padding-features__item) * -1);
}

.features__item {
    color: var(--color-white);
    float: left;
    width: 25%;
    padding: var(--padding-features__item);
}

.features__content {
    background-color: var(--color-bg-dark);
    border-radius: 5px;
    text-align: center;
    padding: 60px 0;
}

.features__icon {
    font-size: calc(var(--font-size-features) * 2);
    margin-bottom: 15px;
}

.features__text {
    font-size: var(--font-size-features);
}

/* NEWS */
/* ======================================================== */
.news-section {
    background-color: var(--color-bg-grey);
}

.news {
    padding: 80px 0;
}

.news h2 {
    
}

/* news__posts------- */
.news__posts {
    float: left;
    width: 50%;
    padding-right: var(--gap-news);
}

.news__posts-content {
    padding: 0 20px;
    border-radius: 5px;
    background-color: var(--color-white);
    margin: 50px 0 20px;
}

.news__posts-item {
    padding: 20px 0;
}

/* Chỉ địnhborder-bottom cho mọi phần tử news__posts-item 
là phần tử con thứ nhất và thứ hai 
của phần tử cha của nó, tính từ phần tử con cuối cùng:
[=-0+2, -1+2, -2+2]
2, 1, 0 */
.news__posts-item:not(:last-child) {
    border-bottom: 1px solid var(--color-bg-grey);
}

.news__posts-img {
    float: left;
    width: 29%;
}

.news__posts-img img {
    width: 100%;    
    border-radius: 5px;
    display: block;
}

.news__posts-text {
    float: left;
    width: 71%;
    padding-left: 20px;
}

.news__posts-text p:nth-child(2) {
    margin: 10px 0;
    opacity: .8;
}

.news__posts-btn {
    text-align: end;
}

/* news__events------- */
.news__events {
    float: left;
    width: 50%;
    padding-left: var(--gap-news);
}