/* BASE */
/* ======================================================== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --width-container: 80%;

    --color-text: #051528;
    --color-primary: #ffd024;
    --color-description: #666;
    --color-bg-grey: #eee;
    --color-bg-dark: #002146;
    --color-white: #fff;

    --font-size-logo-text: 30px;

    --font-size-features: 18px;
    --padding-features__item: 15px;

    --gap-news: 30px;
    --gap-news__events-info: 18px;
    --gap-footer: 40px;
    --gap-footer__bottom: 10px;

    --padding-section-large: 100px;
    --padding-section-small: 80px;

    --transition: all 0.3s cubic-bezier(0.66, 0, 0.34, 1);
}

body {
    font-family: "Inter", sans-serif;
}

.container {
    width: var(--width-container);
    margin: auto;
}

.container-full {
    width: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.btn,
.btn:link,
.btn:visited {
    text-decoration: none;
    display: inline-block;
    color: var(--color-text);
    background-color: var(--color-primary);
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    transition: all 0.3s;
}

.btn:hover {
    box-shadow: 1px 8px 8px rgba(0, 0, 0, 0.08);
}

.btn:active {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.08);
}

a {
    text-decoration: none;
    color: unset;
}

/* TYPOGRAPHY */
/* ======================================================== */
.heading__primary {
    font-size: 30px;
    font-weight: 700;
    line-height: 25px;
    color: var(--color-text);
}

.heading__secondary {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}

.heading__tertiary {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
}

.description {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: var(--color-description);
}

/* HEADER */
/* ======================================================== */
/* header------- */
.header {
    padding: 18px;
    /* background-color: antiquewhite; */
}

/* logo------- */
.header__logo {
    color: var(--color-text);
    font-weight: 800;
    display: inline-block;
    margin-bottom: 10px;
}

.header__logo > * {
    float: left;
}

.header__logo i {
    font-size: 16px;
    color: var(--color-primary);
    padding: 10px;
    background-color: var(--color-text);
    border-radius: 50%;
}

.header__logo-text {
    font-size: var(--font-size-logo-text);
    margin-left: 5px;
    line-height: 36px;
}

/* nav------- */
.header__nav {
    margin-left: 20px;
}

.header__nav-item {
    display: inline-block;
}

.header__nav-item:not(:last-child) {
    margin-right: 30px;
}

.header__nav-item a {
    text-decoration: none;
    color: var(--color-text);
    transition: var(--transition);
}

.header__nav-item a.active {
    color: var(--color-primary);
}

.header__nav-item a:hover {
    color: var(--color-primary);
}

/* HERO */
/* ======================================================== */
.hero {
    height: 700px;
    overflow: hidden;
}

/* img------- */
.hero_img {
    width: 100%;
}

/* WELCOME */
/* ======================================================== */
.welcome {
    padding: var(--padding-section-small) 0;
}

.welcome__text,
.welcome__img {
    float: left;
    width: 50%;
}

.welcome__text p {
    margin: 30px 0;
    padding-right: 40px;
}

.welcome__img img {
    width: 100%;
}

/* INDEX */
/* ======================================================== */
.index-section {
    background-color: var(--color-bg-grey);
}

.index {
    padding: var(--padding-section-small) 0;
}

.index__item {
    float: left;
    width: 25%;
}

.index__item-num {
    font-size: 60px;
    font-weight: 700;
    color: var(--color-text);
}

.index__item-text {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 500;
    display: inline-block;
    width: 140px;
    line-height: 30px;
}

/* FEATURES */
/* ======================================================== */
.features {
    padding: var(--padding-section-large) 0;
    margin: 0 calc(var(--padding-features__item) * -1);
}

.features__item {
    color: var(--color-white);
    float: left;
    width: calc(25% - var(--padding-features__item) * 2);
    margin: var(--padding-features__item);
    border-radius: 5px;
    overflow: hidden;
}

.features__content {
    background-color: var(--color-bg-dark);
    text-align: center;
    padding: 60px 0;
    transition: all 0.3s;
}

.features__content:hover {
    transform: scale(1.5);
}

.features__icon {
    font-size: calc(var(--font-size-features) * 2);
    margin-bottom: 15px;
}

.features__text {
    font-size: var(--font-size-features);
}

/* NEWS */
/* ======================================================== */
.news-section {
    background-color: var(--color-bg-grey);
}

.news {
    padding: var(--padding-section-large) 0;
}

/* news__posts------- */
.news__posts {
    float: left;
    width: 50%;
    padding-right: var(--gap-news);
}

.news__posts-content {
    padding: 0 20px;
    border-radius: 5px;
    background-color: var(--color-white);
    margin: 50px 0 20px;
}

.news__posts-item {
    padding: 20px 0;
}

/* Chỉ địnhborder-bottom cho mọi phần tử news__posts-item 
là phần tử con thứ nhất và thứ hai 
của phần tử cha của nó, tính từ phần tử con cuối cùng:
[=-0+2, -1+2, -2+2]
2, 1, 0 */
.news__posts-item:not(:last-child) {
    border-bottom: 1px solid var(--color-bg-grey);
}

.news__posts-img {
    float: left;
    width: 29%;
}

.news__posts-img img {
    width: 100%;
    border-radius: 5px;
    display: block;
}

.news__posts-text {
    float: left;
    width: 71%;
    padding-left: 20px;
}

.news__posts-text p:nth-child(2) {
    margin: 10px 0;
    opacity: 0.8;
}

.news__btn {
    text-align: end;
}

/* news__events------- */
.news__events {
    float: left;
    width: 50%;
    padding-left: var(--gap-news);
}

.news__events-content {
    margin: 50px 0 20px;
}

.news__events-item {
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 5px;
}

.news__events-item:not(:last-child) {
    margin-bottom: 35px;
}

.news__events-time {
    float: left;
    width: 16%;
    border-radius: 5px;
    overflow: hidden;
}

.news__events-top {
    padding: 20px;
    background-color: var(--color-primary);
}

.news__events-top *,
.news__events-bottom * {
    width: max-content;
    margin: auto;
}

.news__events-mont,
.news__events-year {
    font-weight: 500;
}

.news__events-day {
    margin-bottom: 10px;
}

.news__events-bottom {
    padding: 10px;
    background-color: var(--color-bg-dark);
    color: var(--color-white);
}

.news__events-text {
    float: left;
    width: 84%;
    padding-left: 20px;
}

.news__events-text p {
    margin: 20px 0 10px;
}

.news__events-info * {
    position: relative;
    color: var(--color-bg-dark);
}

.news__events-info *:not(:last-child)::before {
    content: "";
    position: absolute;
    width: 1px;
    height: calc(100% + 12%);
    background-color: #aaa;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
}

.news__events-info span:nth-child(1) {
    padding-right: var(--gap-news__events-info);
}

.news__events-info span:nth-child(2) {
    padding-left: var(--gap-news__events-info);
}

/* FOOTER */
/* ======================================================== */
.footer-section {
    background-color: var(--color-bg-dark);
}

.footer {
    padding: var(--padding-section-small) 0;
}

.footer * {
    color: var(--color-white);
}

.footer__top {
    padding-bottom: var(--gap-footer);
    border-bottom: 1px solid var(--color-description);
}

.footer__top-list {
    float: left;
    width: calc(100% / 3);
}

.footer__top-item {
    list-style: none;
    padding-right: 70px;
}

.footer__top-item i {
    width: 16px;
    color: var(--color-primary);
    margin-right: 10px;
}

.footer__top-list a {
    text-decoration: none;
    transition: var(--transition);
}

.footer__top-list a:hover {
    color: var(--color-primary);
}

.footer__top-list .footer__top-item:not(:last-child) {
    margin-bottom: 18px;
}

.footer__top-list h3 {
    font-size: 22px;
    margin-bottom: 40px;
}

.footer__bottom {
    padding-top: var(--gap-footer);
}

.footer__bottom p {
    display: inline-block;
}

.footer__bottom p:nth-child(1) {
    position: relative;
    padding-right: var(--gap-footer__bottom);
    /* border-right: 1px solid var(--color-description); */
}

.footer__bottom p:nth-child(1)::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 53%;
    background-color: #fff;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
}

.footer__bottom p:nth-child(2) {
    padding-left: var(--gap-footer__bottom);
}

.footer__bottom p span {
    opacity: 0.8;
}
